

/* Aqui estarão todas as configurações padrões de todas as páginas cores, fonte etc.... */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{

    --cor01 : #E2E2E2;
    --cor02 : #E55933;
    --cor03 : #438A64;
    --branco : #f4f4f4;
}